<html>
  <head>
    <title>Admin</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/torch/base.css") %>">
  </head>

  <body>
    <header>
      <section id="torch-account-info">
        <div class="torch-container">
          <a href="/">user@infinite.red</a>
          <a href="/">Logout</a>
        </div>
      </section>

      <section id="torch-nav">
        <div class="torch-container">
          <div class="torch-logo">
            <a href="/">
              <h3>Torch</h3>
            </a>
          </div>
          <nav>
            <a href="/">Posts</a>
          </nav>
        </div>
      </section>
    </header>

    <section class="torch">
      <%= render @view_module, @view_template, assigns %>
    </section>
    <script src="<%= Routes.static_path(@conn, "/js/torch.js") %>"></script>
  </body>
</html>