<section class="torch torch-toolbar-container">
  <div class="torch-toolbar">
    <h2>Edit <%= String.capitalize(schema.human_singular) %></h2>
    <%%= link "Cancel", to: Routes.<%= schema.route_helper %>_path(@conn, :index), class: "torch-button" %>
  </div>
</section>

<section class="torch torch-content">
  <%%= render "form.html", Map.put(assigns, :action, Routes.<%= schema.route_helper %>_path(@conn, :update, @<%= schema.singular %>)) %>
</section>